<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
#!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
#!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("D:\code\jupyter\Coursera\Applied Data Science Capstone\week2\data\Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

999

In [8]:
df.head(50)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt
5,29/09/2013,16:00:00,F9 v1.1 B1003,VAFB SLC-4E,CASSIOPE,500.0,Polar LEO,MDA,Success,Uncontrolled (ocean)
6,12/03/2013,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,3170.0,GTO,SES,Success,No attempt
7,01/06/2014,22:06:00,F9 v1.1,CCAFS LC-40,Thaicom 6,3325.0,GTO,Thaicom,Success,No attempt
8,18/04/2014,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,2296.0,LEO (ISS),NASA (CRS),Success,Controlled (ocean)
9,14/07/2014,15:15:00,F9 v1.1,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,1316.0,LEO,Orbcomm,Success,Controlled (ocean)
10,08/05/2014,8:00:00,F9 v1.1,CCAFS LC-40,AsiaSat 8,4535.0,GTO,AsiaSat,Success,No attempt
11,09/07/2014,5:00:00,F9 v1.1 B1011,CCAFS LC-40,AsiaSat 6,4428.0,GTO,AsiaSat,Success,No attempt
12,21/09/2014,5:52:00,F9 v1.1 B1010,CCAFS LC-40,SpaceX CRS-4,2216.0,LEO (ISS),NASA (CRS),Success,Uncontrolled (ocean)
13,01/10/2015,9:47:00,F9 v1.1 B1012,CCAFS LC-40,SpaceX CRS-5,2395.0,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
14,02/11/2015,23:03:00,F9 v1.1 B1013,CCAFS LC-40,DSCOVR,570.0,HEO,U.S. Air Force NASA NOAA,Success,Controlled (ocean)
15,03/02/2015,3:50:00,F9 v1.1 B1014,CCAFS LC-40,ABS-3A Eutelsat 115 West B,4159.0,GTO,ABS Eutelsat,Success,No attempt
16,14/04/2015,20:10:00,F9 v1.1 B1015,CCAFS LC-40,SpaceX CRS-6,1898.0,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
17,27/04/2015,23:03:00,F9 v1.1 B1016,CCAFS LC-40,Turkmen 52 / MonacoSAT,4707.0,GTO,Turkmenistan National Space Agency,Success,No attempt
18,28/06/2015,14:21:00,F9 v1.1 B1018,CCAFS LC-40,SpaceX CRS-7,1952.0,LEO (ISS),NASA (CRS),Failure (in flight),Precluded (drone ship)
19,22/12/2015,1:29:00,F9 FT B1019,CCAFS LC-40,OG2 Mission 2 11 Orbcomm-OG2 satellites,2034.0,LEO,Orbcomm,Success,Success (ground pad)
20,17/01/2016,18:42:00,F9 v1.1 B1017,VAFB SLC-4E,Jason-3,553.0,LEO,NASA (LSP) NOAA CNES,Success,Failure (drone ship)
21,03/04/2016,23:35:00,F9 FT B1020,CCAFS LC-40,SES-9,5271.0,GTO,SES,Success,Failure (drone ship)
22,04/08/2016,20:43:00,F9 FT B1021.1,CCAFS LC-40,SpaceX CRS-8,3136.0,LEO (ISS),NASA (CRS),Success,Success (drone ship)
23,05/06/2016,5:21:00,F9 FT B1022,CCAFS LC-40,JCSAT-14,4696.0,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
24,27/05/2016,21:39:00,F9 FT B1023.1,CCAFS LC-40,Thaicom 8,3100.0,GTO,Thaicom,Success,Success (drone ship)
25,15/06/2016,14:29:00,F9 FT B1024,CCAFS LC-40,ABS-2A Eutelsat 117 West B,3600.0,GTO,ABS Eutelsat,Success,Failure (drone ship)
26,18/07/2016,4:45:00,F9 FT B1025.1,CCAFS LC-40,SpaceX CRS-9,2257.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
27,14/08/2016,5:26:00,F9 FT B1026,CCAFS LC-40,JCSAT-16,4600.0,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
28,14/01/2017,17:54:00,F9 FT B1029.1,VAFB SLC-4E,Iridium NEXT 1,9600.0,Polar LEO,Iridium Communications,Success,Success (drone ship)
29,19/02/2017,14:39:00,F9 FT B1031.1,KSC LC-39A,SpaceX CRS-10,2490.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
30,16/03/2017,6:00:00,F9 FT B1030,KSC LC-39A,EchoStar 23,5600.0,GTO,EchoStar,Success,No attempt
31,30/03/2017,22:27:00,F9 FT B1021.2,KSC LC-39A,SES-10,5300.0,GTO,SES,Success,Success (drone ship)
32,05/01/2017,11:15:00,F9 FT B1032.1,KSC LC-39A,NROL-76,5300.0,LEO,NRO,Success,Success (ground pad)
33,15/05/2017,23:21:00,F9 FT B1034,KSC LC-39A,Inmarsat-5 F4,6070.0,GTO,Inmarsat,Success,No attempt
34,06/03/2017,21:07:00,F9 FT B1035.1,KSC LC-39A,SpaceX CRS-11,2708.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
35,23/06/2017,19:10:00,F9 FT B1029.2,KSC LC-39A,BulgariaSat-1,3669.0,GTO,Bulsatcom,Success,Success (drone ship)
36,25/06/2017,20:25:00,F9 FT B1036.1,VAFB SLC-4E,Iridium NEXT 2,9600.0,LEO,Iridium Communications,Success,Success (drone ship)
37,07/05/2017,23:38:00,F9 FT B1037,KSC LC-39A,Intelsat 35e,6761.0,GTO,Intelsat,Success,No attempt
38,14/08/2017,16:31:00,F9 B4 B1039.1,KSC LC-39A,SpaceX CRS-12,3310.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
39,24/08/2017,18:51:00,F9 FT B1038.1,VAFB SLC-4E,Formosat-5,475.0,SSO,NSPO,Success,Success (drone ship)
40,09/07/2017,14:00:00,F9 B4 B1040.1,KSC LC-39A,Boeing X-37B OTV-5,4990.0,LEO,U.S. Air Force,Success,Success (ground pad)
41,10/09/2017,12:37:00,F9 B4 B1041.1,VAFB SLC-4E,Iridium NEXT 3,9600.0,Polar LEO,Iridium Communications,Success,Success (drone ship)
42,10/11/2017,22:53:00,F9 FT B1031.2,KSC LC-39A,SES-11 / EchoStar 105,5200.0,GTO,SES EchoStar,Success,Success (drone ship)
43,30/10/2017,19:34:00,F9 B4 B1042.1,KSC LC-39A,Koreasat 5A,3500.0,GTO,KT Corporation,Success,Success (drone ship)
44,15/12/2017,15:36:00,F9 FT B1035.2,CCAFS SLC-40,SpaceX CRS-13,2205.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
45,23/12/2017,1:27:00,F9 FT B1036.2,VAFB SLC-4E,Iridium NEXT 4,9600.0,Polar LEO,Iridium Communications,Success,Controlled (ocean)
46,01/08/2018,1:00:00,F9 B4 B1043.1,CCAFS SLC-40,Zuma,5000.0,LEO,Northrop Grumman,Success (payload status unclear),Success (ground pad)
47,31/01/2018,21:25:00,F9 FT B1032.2,CCAFS SLC-40,GovSat-1 / SES-16,4230.0,GTO,SES,Success,Controlled (ocean)
48,22/02/2018,14:17:00,F9 FT B1038.2,VAFB SLC-4E,Paz Tintin A & B,2150.0,SSO,Hisdesat exactEarth SpaceX,Success,No attempt
49,03/06/2018,5:33:00,F9 B4 B1044,CCAFS SLC-40,Hispasat 30W-6 PODSat,6092.0,GTO,Hispasat NovaWurks,Success,No attempt

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
%%sql SELECT DISTINCT "Launch_Site"
    FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('VAFB SLC-4E',),
 ('KSC LC-39A',),
 ('CCAFS SLC-40',),
 (None,)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
%%sql
    SELECT *
    FROM SPACEXTBL
    WHERE "Launch_Site" LIKE "CCA%"
    LIMIT 5

 * sqlite:///my_data1.db
Done.

[('06/04/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('12/08/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0.0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525.0, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('10/08/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('03/01/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
%%sql 
    SELECT SUM("PAYLOAD_MASS__KG_")
    FROM SPACEXTBL
    WHERE "Customer" = "NASA (CRS)"

 * sqlite:///my_data1.db
Done.

[(45596.0,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
%%sql 
    SELECT SUM("PAYLOAD_MASS__KG_")
    FROM SPACEXTBL
    WHERE "Booster_Version" LIKE "F9 v1.1%"

 * sqlite:///my_data1.db
Done.

[(38020.0,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [13]:
%%sql
    SELECT * 
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = "Success (ground pad)" AND "Date" =
    (
        SELECT MAX(DATE)
        FROM SPACEXTBL
        WHERE "Landing_Outcome" = "Success (ground pad)"
    )

 * sqlite:///my_data1.db
Done.

[('22/12/2015', '1:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034.0, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
%%sql
    SELECT "Customer", "PAYLOAD_MASS__KG_"
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = "Success (drone ship)" AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000

 * sqlite:///my_data1.db
Done.

[('SKY Perfect JSAT Group', 4696.0),
 ('SKY Perfect JSAT Group', 4600.0),
 ('SES', 5300.0),
 ('SES EchoStar', 5200.0)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [15]:
%%sql
    SELECT Mission_Outcome, COUNT(*) as total_number
    FROM SPACEXTBL
    GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[(None, 898),
 ('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [16]:
%%sql
    SELECT "Booster_Version", "PAYLOAD_MASS__KG_"
    FROM SPACEXTBL
    WHERE "PAYLOAD_MASS__KG_" = (
        SELECT MAX("PAYLOAD_MASS__KG_")
        FROM SPACEXTBL
    )

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600.0),
 ('F9 B5 B1049.4', 15600.0),
 ('F9 B5 B1051.3', 15600.0),
 ('F9 B5 B1056.4', 15600.0),
 ('F9 B5 B1048.5', 15600.0),
 ('F9 B5 B1051.4', 15600.0),
 ('F9 B5 B1049.5', 15600.0),
 ('F9 B5 B1060.2 ', 15600.0),
 ('F9 B5 B1058.3 ', 15600.0),
 ('F9 B5 B1051.6', 15600.0),
 ('F9 B5 B1060.3', 15600.0),
 ('F9 B5 B1049.7 ', 15600.0)]

In [17]:
%%sql
    SELECT *
    FROM SPACEXTBL
    LIMIT 5

 * sqlite:///my_data1.db
Done.

[('06/04/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('12/08/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0.0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525.0, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('10/08/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('03/01/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [21]:
%%sql
    SELECT substr("DATE",4,2) as month_names, Landing_Outcome, Booster_Version, Launch_Site	
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = "Failure (drone ship)" AND "DATE" LIKE "%/2015"

 * sqlite:///my_data1.db
Done.

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [42]:
%%sql
UPDATE SPACEXTBL
SET DATE = substr(Date, 7, 4) || '-' || substr(Date, 4, 2) || '-' || substr(Date, 1, 2)

 * sqlite:///my_data1.db
999 rows affected.

[]

In [45]:
%%sql
    SELECT DATE,"Landing_Outcome",COUNT(*) 
    FROM SPACEXTBL
    WHERE "DATE" BETWEEN "2010-06-04" AND "2017-03-20"
    GROUP BY "Landing_Outcome"
    ORDER BY COUNT(*) DESC

 * sqlite:///my_data1.db
Done.

[('2012-05-22', 'No attempt', 10),
 ('2015-12-22', 'Success (ground pad)', 5),
 ('2016-08-04', 'Success (drone ship)', 5),
 ('2015-10-01', 'Failure (drone ship)', 5),
 ('2014-04-18', 'Controlled (ocean)', 3),
 ('2013-09-29', 'Uncontrolled (ocean)', 2),
 ('2015-06-28', 'Precluded (drone ship)', 1),
 ('2010-08-12', 'Failure (parachute)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>